* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#header{
	height:20em;
	background: url("BannerFacebook.png") no-repeat center center;
	background-size: cover;
}

#menuBar{
	list-style-type: none;
	background-color: #3a4051;
	text-transform: uppercase;
	text-align: center;
	padding: 1em;
}

#menuBar li {
	color: black;
	font-family: "Josefin Sans", cursive;
	display: inline;
	position: relative;
	padding: 1em;
	line-height: 3em;
}

#menuBar a{
	color: white;
	text-decoration: none;
}

#footer{
	font-family: "Josefin Sans", cursive;
	font-size: 0.9em;
	text-align: center;
	height: 6em;
	background-color: #3a4051;
	padding: 1em;
	color: white;
	clear: both;
}

#body-center {
	background-color: #fffdf7;
}

#body-center h1{
	font-family: 'Patrick Hand SC', cursive;
	border: 0.1em solid #2c3240;
	margin-left: 2em;
	margin-right: 2em;
	border-radius: 10px;
}

#body-center h2{
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
	margin: 2em;
}

#body-center p{
	font-family: 'Nunito', sans-serif;
}

#body-center h1, #body-center p{
	color: #2c3240;
	padding: 1.2em;
	text-align: center;
}

.livro{
  	position: relative;
	display: inline-block;
	margin: 3em 2em;
	border: 0.2em solid #2c3240;
	color: #2c3240;
	border-radius: 10px;
}

.livro img{
	height: 20em;
	width: 20em;
	padding: 1em;
}

.titulo {
	font-weight: bold;
}

.serie {
	line-height: 5px;
}

.bookOptions, .personagens {
	position: relative;
	display: inline-block;
	margin: 1em 1em;
}

.bookOptions img, .personagens img {
	height: 15em;
	width: 15em;
	border-radius: 100%;
}

.bookOptionTitle, .personagemTitle {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

#body-center .bookOptions .bookOptionTitle {
	font-family: 'Cabin Sketch', cursive;
}

.bookOptions a{
	text-decoration: none;
}

.video{
	text-align: center;
}

body {
	background-color: #fffdf7;
}

.galeria a{
	text-decoration: none;
}

.galeria table{
	margin: 1em auto;
	text-align: center;
}

.galeria table td {
	border-radius: 5px;
	border: 2px solid #3a4051;
	padding: 1em;
}

.galeria table td img{
	padding: 1em;
}

.livros {
	position: relative;
	display: inline-block;
	margin: 3em 2em;
	border: 0.2em solid #2c3240;
	color: #2c3240;
	border-radius: 10px;
	padding: 2em;
}

.livros img{
	float: left;
}

.livros .bookinformation{
	padding: 2em;
	width: 50em;
	float: right;
}

#body-center .livros .bookinformation h2{
	margin: 0.1em;
}

.livros .bookinformation p {
	font-size: 0.9em;
}

#body-center .livros .bookinformation h3{
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	margin: 0.1em;
	font-size: 1.2em;
}

.bookinformation a{
	text-decoration: none;
	color: #ec5068;
}

.bookinformation a:hover{
	text-decoration: underline;
}

.livrofisico{
	color: #ec5068;
}

.midiassociais {
	text-align: center;
}

.midiassociais a{
	text-decoration: none;
}

.midiassociais img {
	padding: 2em;
	height: 10em;
	width: 10em;
	border-radius: 100%;
}